html, body {
    margin: 0;
    padding: 0;
    font-family: "OCR_A", monospace;
    background-color: #f9f5f2;
    color: #145b4f;
}

body{ 
    padding-top: 100px;
}


nav {
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding-left: 30px;
    background: #f9f5f2;
    top: 0;
    
    
}
nav p {
    text-align: left;
    margin: 0;
    padding: 30px 30px 30px 30px;
    font-size: 20px;
}

nav p:first-child {
    padding-left: 0px;
}

.header {
    padding-left: 30px;
}


.subheader {
    display: flex;
    align-items: end;
    gap: 20px; 
    padding-left: 30px;
    width: auto;
}

.logo {
    flex-shrink: 0;
}

.logo img {
    width: 45vw;
    height: auto;
    display: block;
}

.description {  
    text-align: left;
    margin: 0; 
    font-size: 40px; 
    bottom: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    text-align: center;
    gap: 30px;
    padding: 30px;
}

.asset_box {
    flex: 1 1 calc(25% - 30px); /* 4 boxes per row with gaps */
    min-width: 200px;
    transition: transform 0.3s ease-in-out;
}



.asset_box img {
    width: 100%;
    height: auto;
    display: block;
}

.info_section {
    display: flex;
    align-items: flex-start;
    position: relative;
    flex-direction: row;
    width: auto;
    padding-top: 30px;
    padding-left: 30px;
    margin-top: 30vh;
}

.info_header {
    position: absolute;
    font-size: 40px;
    top: 0;
}

.asset_box_2 img {
    position: absolute;
    width: 45vw;
    padding-bottom: 30px;
}



.info_text_section {
    position: relative;
    display: flex;
    align-items: start;
    margin-top: 290px;
    margin-left: 360px;
    margin-right: 60px;
    gap: 50px;

}


.info_text_section div {
    width: 60%;
    top: 0;
    font-size: 14px;
}


.info_section_2_header {
    position: relative;
}

.info_section_2_header p {
    font-size: 40px;
    padding-left: 30px;
    margin-top: 30vh;
}

.info_section_2_subheader p {
    position: relative;
    max-width: 30%;
    padding-left: 30px;
    margin-bottom: 30px;
}





.info_section_2 {
    padding-left: 30px;
    max-width: 30%;
    position: relative;
    display: grid;
    grid-template-columns: 15% 85%;
    gap: 10px;
    margin-bottom: 60px;
    
}

.number_box {
    font-size: 20px;
    text-align: start;
    
}

.info_box {
    text-align: start;
    align-items: center;
}






@font-face {
    font-family: "OCR_A";
    src: url("../fonts/OCR-A.ttf") format("truetype");
}

